.list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list li {
    margin: 0.5rem;
}

.list li a {
    height: 22.5rem;
    width: 20rem;
    border: 1px solid #e0e0e0;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #e72929;
    position: relative;
    background-color: white;
    text-decoration: none;
    transition: transform 0.2s ease;
}

.image {
    object-fit: cover;
    width: 100%;
    height: 14.5rem;
}

.content {
    padding: 0.5rem 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.favorite {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 1.2rem;
    color: #e72929;
    cursor: pointer;
}

.favorite.not {
    color: grey;
}

.stars {
    margin: 0.5rem 0;
    display: flex;
    justify-content: center;
}

.product_item_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    position: relative; /* Change from absolute to relative */
    margin-top: 0.5rem; /* Add margin for spacing */
    background-color: white;
    padding: 0.3rem 0.5rem;
    color: #414141;
    font-size: 1.1rem;
    border-radius: 0.25rem;
}

/* Hover effect */
.list li a:hover {
    transform: scale(1.05);
}

/* Media Queries for responsive design */
@media (max-width: 768px) {
    .list li a {
        width: 100%;
        height: auto;
    }

    .price {
        font-size: 1rem;
        padding: 0.2rem 0.4rem;
    }
}

  